<!DOCTYPE html>
<html lang="en">

<!-- Redirecting to other webpages -->
<script>
   window.addEventListener("keydown", checkKeyPress, false);
    function checkKeyPress(key)
    {
        // Object Detection
        if (key.keyCode == "70") // F key
        {
            window.location.replace("obj_detect");
        }

        //Face Detection
        else if(key.keyCode == "74") // J key
        {
            window.location.replace("face_recog");
        }
    }
</script>

<!-- giving audio output -->
<script src="http://code.responsivevoice.org/responsivevoice.js"></script>>
    <script>
        responsiveVoice.speak("Welcome to VISION");
    </script>
<!-- end audio output -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vision</title>
    <link rel="icon" href="{{ url_for('static', filename='img/fav.png') }}" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='ionicons/css/ionicons.min.css') }}" rel="stylesheet">

    <!-- main css -->
    <link href="{{ url_for('static', filename='css/style1.css') }}" rel="stylesheet">

    <!-- modernizr -->
    <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- end Preloader -->

    <div class="container-fluid">
        <!-- box header -->
        <header class="box-header">
            <div class="box-logo">
                <a href="/ "><img src="{{ url_for('static', filename='img/logo.png') }}" width="150" alt="Logo"></a>
            </div>
            <!-- box-nav -->
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
            </a>
            <!-- box-primary-nav-trigger -->
        </header>
        <!-- end box header -->

        <!-- nav -->
        <nav>
            <ul class="box-primary-nav">
                <br>
                <li><a href="obj_detect">Object Detection</a><i class="ion-ios-circle-filled color"></i></li>
                <br>
                <li><a href="face_recog">Face Recognititon</a><i class="ion-ios-circle-filled color"></i></li>
                <br>
                <li><a href="about">About</a><i class="ion-ios-circle-filled color"></i></li>
                <br><br>
                <li class="box-label">GitHub Repository</li>
                <li class="box-social"><a href="https://github.com/Rohan-Redd/Resume/blob/main/Resume.pdf"><i class="ion-social-github-outline"></i></a></li>
            </ul>
        </nav>
        <!-- end nav -->

        <!-- box-intro -->
        <section class="box-intro">
            <div class="table-cell">
                <h1 class="box-headline letters rotate-2">
                    <span class="box-words-wrapper">
                        <b class="is-visible">empower.</b>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;assist.</b>
                        <b>succour.</b> 
                    </span>
		        </h1>
                <img src="{{ url_for('static', filename='img/fav.png') }}" width="150" alt="Logo">
                <h5>your virtual vision</h5>
            </div>
        </section>
        <!-- end box-intro -->
    </div>
    
    <div class="container main-container" style="text-align:center">
        <div class="col-md-8 col-md-offset-2">
            <h3 class="text-uppercase">Mission statement</h3>
            <div class="h-30"></div>
            <h4> <i> “Empowering the visually impaired by being their virtual eyes” </i> </h4>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <br><br><br>
            <h3 class="text-uppercase">Object Detection</h3>
            <div class="h-30"></div>
            <h4> Using one of the most prominent object detection datasets, Microsoft's Common Objects in 
                Context dataset (COCO). VISION's object detection feature provides voice, visual, and text 
                outputs to help the user understand what objects are in front of him/her. </h4>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <br><br><br>
            <h3 class="text-uppercase">Face Recognition</h3>
            <div class="h-30"></div>
            <h4> VISION's face recognition uses OpenCV's 'face recognition' model, which has a 99.38 percent 
                accuracy, and provides voice, image, and text outputs to help the user determine if the person 
                in front of them is familiar to them and, if so, their name. </h4>
        </div>
        
        <div class="col-md-4 col-md-offset-4">
            <br><br><br>
            <h3 class="text-uppercase">Redirecting instructions</h3>
            <div class="h-30"></div>
            <h5>Press Key &emsp;&emsp;&emsp;&ensp; Press Key</h5>
            <img src="{{ url_for('static', filename='img/f.png') }}" width="80"> &emsp;&emsp; 
            <img src="{{ url_for('static', filename='img/j.png') }}" width="80">
            <h5 style="color:grey;">For Object &emsp;&emsp;&emsp; For Face </h5>
            <h5 style="color:grey;">&emsp;Detection&emsp;&emsp;&emsp; Recognition</h5>
        </div>
    </div>
    
    <!-- footer -->
    <footer>
        <div class="container-fluid">
            <p class="copyright">Website by Adavelli Rohan Reddy</p>
            <img src="{{ url_for('static', filename='img/fav.png') }}" width="40" alt="Logo">
        </div>
    </footer>
    <!-- end footer -->

    <!-- back to top -->
    <a href="#" class="cd-top"><i class="ion-android-arrow-up"></i></a>
    <!-- end back to top -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>

    <!-- plugins -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/animated-headline.js') }}"></script>
    <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>

    <!-- custom script -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</html>